#root {
    -fx-background-image: url("http://www.trinitymowers.com.au/public/upload/media/en/Lawn-Mower-Repairs.jpg");
}
#link {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 30px;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}